<ion-header>
    <ion-toolbar color = "tertiary">
        
      <ion-title>SETTING UP YOUR ACCOUNT</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-text color="primary">
        <h2> INSTRUCTIONS: <br></h2>
        <h5>Now that you have set your username and password, we will now generate a student code for you. 
          Please note that to enroll students in your classroom you need to distribute this code to them.
          Also please try not to distribute this code to other than students as later on it would be
           troublesome for you only.<br>
           Please copy or save this code at a safe place.
        </h5><br><br>
       
      </ion-text>

      <div id="cool-button-div-right">
          <ion-button shape="round" color="success" (click)="gencode()">GENERATE CODE</ion-button>
          </div>
      
</ion-content>
